body#index {
    background-image: url("/static/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #ddd;
    overflow: hidden;
}

body#index::before {
    content: "";
    display: block;
    filter: blur(5px) brightness(0.5);
    position: absolute;
    left: -25px;
    top: -25px;
    right: -25px;
    bottom: -25px;
    background: inherit;
}

body#index > main {
    position: relative;
    z-index: 10;
    padding-top: 10%;
}

.index-box {
    color: #f8f8f8;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}