{% block header %}
{% if page in 'index|login|register' %}

<nav class="navbar navbar-expand-md navbar-light bg-warning mb-4">
  <a class="navbar-brand" href="{% url 'index' %}">ToysRent</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <a class="btn btn-{% if page != 'login' %}outline-{% endif %}danger my-2 my-sm-0 mr-1"
      href="{% url 'login' %}">Login</a>
    <button type="button" class="btn btn-{% if page != 'register' %}outline-{% endif %}danger" data-toggle="modal"
      data-target="#register-prompt">
      Register
    </button>
  </div>
</nav>

<div class="modal fade" id="register-prompt" tabindex="-1" role="dialog" aria-labelledby="register-prompt-label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="register-prompt-label">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        For which role are you registering?
      </div>
      <div class="modal-footer">
        <a class="btn btn-danger" href="{% url 'register' %}?type=member">Member</a>
        <a class="btn btn-danger" href="{% url 'register' %}?type=admin">Admin</a>
      </div>
    </div>
  </div>
</div>

{% else %}

{% if admin %}

<nav class="navbar navbar-expand-md navbar-light bg-warning mb-4">
  <a class="navbar-brand" href="#">ToysRent</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown {% if page == 'items' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" id="items-dropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Items</a>
        <div class="dropdown-menu" aria-labelledby="items-dropdown">
          <a class="dropdown-item" href="{% url 'item-list' %}">List Items</a>
          <a class="dropdown-item" href="{% url 'item-add' %}">Add Items</a>
        </div>
      </li>
      <li class="nav-item dropdown {% if page == 'goods' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" id="goods-dropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Goods</a>
        <div class="dropdown-menu" aria-labelledby="goods-dropdown">
          <a class="dropdown-item" href="{% url 'goods-list' %}">List Goods</a>
          <a class="dropdown-item" href="{% url 'goods-add' %}">Add Goods</a>
        </div>
      </li>
      <li class="nav-item dropdown {% if page == 'level' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" id="level-dropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Level</a>
        <div class="dropdown-menu" aria-labelledby="level-dropdown">
          <a class="dropdown-item" href="{% url 'level-list' %}">List Level</a>
          <a class="dropdown-item" href="{% url 'level-add' %}">Add Level</a>
        </div>
      </li>
      <li class="nav-item dropdown {% if page == 'order' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" id="order-dropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Order</a>
        <div class="dropdown-menu" aria-labelledby="order-dropdown">
          <a class="dropdown-item" href="{% url 'order-list' %}">List Order</a>
          <a class="dropdown-item" href="{% url 'order-add' %}">Make Order</a>
        </div>
      </li>
      <li class="nav-item dropdown {% if page == 'delivery' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" id="delivery-dropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Delivery</a>
        <div class="dropdown-menu" aria-labelledby="delivery-dropdown">
          <a class="dropdown-item" href="{% url 'delivery-list' %}">List Delivery</a>
          <a class="dropdown-item" href="{% url 'delivery-add' %}">Make Delivery</a>
        </div>
      </li>
      <li class="nav-item {% if page == 'chat' %}active{% endif %}">
        <a class="nav-link" href="{% url 'chat-list' %}">Chat</a>
      </li>
      <li class="nav-item {% if page == 'review' %}active{% endif %}">
        <a class="nav-link" href="{% url 'goods-review' %}">Review</a>
      </li>
    </ul>
    <a class="btn btn-{% if page != 'profile' %}outline-{% endif %}danger my-2 my-sm-0 mr-1"
      href="{% url 'profile' %}">Profile</a>
    <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout' %}">Logout</a>
  </div>
</nav>

{% else %}

<nav class="navbar navbar-expand-md navbar-light bg-warning mb-4">
  <a class="navbar-brand" href="#">ToysRent</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if page == 'items' %}active{% endif %}">
        <a class="nav-link" href="#">Items</a>
      </li>
      <li class="nav-item {% if page == 'goods' %}active{% endif %}">
        <a class="nav-link" href="{% url 'goods-list' %}">Goods</a>
      </li>
      <li class="nav-item dropdown {% if page == 'order' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" id="order-dropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Order</a>
        <div class="dropdown-menu" aria-labelledby="order-dropdown">
          <a class="dropdown-item" href="{% url 'order-list' %}">List Order</a>
          <a class="dropdown-item" href="{% url 'order-add' %}">Make Order</a>
        </div>
      </li>
      <li class="nav-item dropdown {% if page == 'delivery' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" id="delivery-dropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Delivery</a>
        <div class="dropdown-menu" aria-labelledby="delivery-dropdown">
          <a class="dropdown-item" href="{% url 'delivery-list' %}">List Delivery</a>
          <a class="dropdown-item" href="{% url 'delivery-add' %}">Make Delivery</a>
        </div>
      </li>
      <li class="nav-item {% if page == 'chat' %}active{% endif %}">
        <a class="nav-link" href="{% url 'chat-list' %}">Chat</a>
      </li>
      <li class="nav-item {% if page == 'review' %}active{% endif %}">
        <a class="nav-link" href="{% url 'goods-review' %}">Review</a>
      </li>
    </ul>
    <a class="btn btn-{% if page != 'profile' %}outline-{% endif %}danger my-2 my-sm-0 mr-1"
      href="{% url 'profile' %}">Profile</a>
    <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout' %}">Logout</a>
  </div>
</nav>

{% endif %}
{% endif %}
{% endblock %}