{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Reply/Create Message</h1>
  </div>

  <form method="POST">
    <h3>Message</h3>

    <div class="form-group row">
      <label for="input-id" class="col-2 col-form-label">Chat ID Number</label>
      <div class="col-10">
        <input type="text" class="form-control" id="input-id" placeholder="ID Number" name="chatId" value="1" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-id" class="col-2 col-form-label">Member ID Number</label>
      <div class="col-10">
        <input type="text" class="form-control" id="input-id" placeholder="ID Number" name="memberId" value="1" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-id" class="col-2 col-form-label">Admin ID Number</label>
      <div class="col-10">
        <input type="text" class="form-control" id="input-id" placeholder="ID Number" name="adminId" value="1" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputlg input-message" class="col-2 col-form-label">Message</label>
      <div class="col-10">
        <input type="text" class="form-control" id="input-message" placeholder="Your Message Here" name="message" required>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary btn-block">Send</button>
      </div>
    </div>
  </form>

</main>

{% endblock %}
