{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Chat List</h1>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Sender ID</th>
          <th scope="col">Message</th>
          <th scope="col">Date Time</th>
        </tr>
      </thead>
      <tbody>
        {% for c in chats %}
        <tr>
          <th scope="row">{{ c.0 }}</th>
          <td>{{ c.1 }}</td>
          <td>{{ c.2 }}</td>
          <td>{{ c.3 }}</td>
          {% if admin %}
          <td>{{ c.4 }}</td>
          {% endif %}
          <td>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delete-prompt"
              data-id="{{ c.0 }}" data-name="{{ c.1 }}" data-url="{% url 'chat-delete' %}?id=">Delete</button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center mt-3">
          <li class="page-item"><a class="page-link text-info" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link text-white bg-info" href="#">1</a></li>
          <li class="page-item"><a class="page-link text-info" href="#">2</a></li>
          <li class="page-item"><a class="page-link text-info" href="#">3</a></li>
          <li class="page-item"><a class="page-link text-info" href="#">Next</a></li>
      </ul>
  </nav>
  </div>
</main>

{% endblock %}
