{% extends "_base.html" %}
{% load static %}

{% block content %}

    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Update Delivery</h1>
        </div>

        <form method="POST">
            <h3>Deliery</h3>



            <div class="form-group row">
                <label for="input-id" class="col-sm-2 col-form-label">Receipt Numer</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-id" placeholder="{{detail.0.0}}" name="id" value="{{ detail.0.0 }}"
                           readonly>
                </div>
            </div>


            <div class="form-group row">
                <label for="input-color" class="col-sm-2 col-form-label">Order Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-color" placeholder="order_id" name="order_id"
                           value="{{ detail.0.1 }}" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="input-photo" class="col-sm-2 col-form-label">Method</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-photo" placeholder="Method" name="method"
                           value="{{ detail.0.2 }}"
                           required>
                </div>
            </div>

            <div class="form-group row">
                <label for="input-condition" class="col-sm-2 col-form-label">Charge</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-condition" placeholder="Charge"
                           name="charge" value="{{ detail.0.3 }}" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="input-color" class="col-sm-2 col-form-label">Delivery Date</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="input-color" placeholder="Date" name="date" 
                  value="{{ detail.0.4 }}" required>
                </div>
              </div>
              <div class="form-group row">
                  <label for="input-photo" class="col-sm-2 col-form-label">Member ID</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-photo" value="{{ detail.0.5 }}" placeholder="Your Member Id" name="member_id_num" required>
                  </div>
                </div>
      <div class="form-group row">
              <label for="input-owner" class="col-sm-2 col-form-label">Destination Address</label>
              <div class="col-sm-10">
                <select class="custom-s elect" id="input-owner" name="member_address_name" required>
                  <option selected disabled value="">Choose an address</address></option>
                  {% for b in address %}
                  <option selected value="{{ detail.0.6 }}">{{ b.1 }}</option>
                  {% endfor %}
                  <!-- <option value="PTC Inc.">PTC Inc.</option>
                  <option value="2">GoPro, Inc.</option>
                  <option value="3">Africa</option>
                  <option value="4">SR</option>
                  <option value="5">Mother Russia</option>
       -->
                </select>
              </div>
            </div>
            
            <!-- <h3>Goods Info</h3>
            {% for price in pricing %}
            <div class="form-group row">
              <label for="input-owner" class="col-sm-2 col-form-label">{{ price.0 }}</label>
              <div class="col-sm-10">
                <div class="form-row">
                  <div class="col-sm-3 input-group">
                    <input type="number" class="form-control" placeholder="Royalty Percentage" name="percentage[]" value="{{ price.1 }}" required>
                    <div class="input-group-append">
                      <label class="input-group-text">%</label>
                    </div>
                  </div>
                  <div class="col input-group">
                    <div class="input-group-prepend">
                      <label class="input-group-text">Rp.</label>
                    </div>
                    <input type="number" class="form-control" placeholder="Rent Price" name="price[]" value="{{ price.2 }}" required>
                    <div class="input-group-append">
                      <label class="input-group-text"> /week</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %} -->

            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-block">Update</button>
                </div>
            </div>
         
        </form>

    </main>

{% endblock %}