{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Delivery Lists</h1>
  </div>

  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Order Id</th>
          <th scope="col">Total Price</th>
          <th scope="col">Delivery Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for g in delivery %}
        <tr>
          <th scope="row">{{ g.1 }}</th>
          <td>{{ g.2 }}</td>
          <td>{{ g.4 }}</td>
          <td>{{ g.5 }}</td>
          <td>
                <a class="btn btn-outline-success" href="{% url 'delivery-update' %}?id={{ g.1 }}">Update</a>
            {% if admin %}
            {% else %}
            
            <a class="btn btn-outline-primary" href="{% url 'review-add' %}?id=1">Write a Review</a>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" 
            data-target="#delete-prompt" 
            data-id="{{ g.1 }}" data-name="{{ g.1 }}" 
            data-url="{% url 'delivery-delete' %}?id=">Delete</button>

            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% if not delivery %}<div class="text-center"><i>No available delivery data</i></div>{% endif %}
    <nav>
      <ul class="pagination justify-content-center mt-3" id="page-field">
          {% for p in pages %}
          <li class="page-item"><button class="page-link {% if page == p %}text-white bg-info{% else %}text-info{% endif %}">{{ p }}</button></li>
          {% endfor %}
      </ul>
  </nav>
  </div>
</main>

{% endblock %}