{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Make Delivery</h1>
  </div>

  <form method="POST">
    <h3>Delivery Form</h3>

    
    <div class="form-group row">
        <label for="input-photo" class="col-sm-2 col-form-label">Receipt Number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-photo" placeholder="Receipt Number" name="receipt_num" required>
        </div>
      </div>
      <!-- <div class="form-group row">
          <label for="input-owner" class="col-sm-2 col-form-label">Destination Address</label>
          <div class="col-sm-10">
            <select class="custom-s elect" id="input-owner" name="member_address_name" required>
              <option selected disabled value="">Choose an address</address></option>
              {% for b in orderid %}
              <option selected value="{{ b.1 }}">{{ b.1 }}</option>
              {% endfor %}
              <option value="PTC Inc.">PTC Inc.</option>
              <option value="2">GoPro, Inc.</option>
              <option value="3">Africa</option>
              <option value="4">SR</option>
              <option value="5">Mother Russia</option>
  
            </select>
          </div>
        </div> -->
      <div class="form-group row">
          <label for="input-photo" class="col-sm-2 col-form-label">Order Id</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="input-photo" placeholder="Order Id" name="order_id" required>
          </div>
        </div>
        <div class="form-group row">
            <label for="input-photo" class="col-sm-2 col-form-label">Method</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="input-photo" placeholder="Method" name="method" required>
            </div>
          </div>
        <div class="form-group row">
            <label for="input-photo" class="col-sm-2 col-form-label">Total Price</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="input-photo" placeholder="Charge" name="charge" required>
            </div>
          </div>
          <div class="form-group row">
              <label for="input-color" class="col-sm-2 col-form-label">Delivery Date</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="input-color" placeholder="Date" name="date" required>
              </div>
            </div>
            <div class="form-group row">
                <label for="input-photo" class="col-sm-2 col-form-label">Member ID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="input-photo" placeholder="Your Member Id" name="member_id_num" required>
                </div>
              </div>
    <div class="form-group row">
            <label for="input-owner" class="col-sm-2 col-form-label">Destination Address</label>
            <div class="col-sm-10">
              <select class="custom-s elect" id="input-owner" name="member_address_name" required>
                <option selected disabled value="">Choose an address</address></option>
                {% for b in address %}
                <option selected value="{{ b.1 }}">{{ b.1 }}</option>
                {% endfor %}
                <!-- <option value="PTC Inc.">PTC Inc.</option>
                <option value="2">GoPro, Inc.</option>
                <option value="3">Africa</option>
                <option value="4">SR</option>
                <option value="5">Mother Russia</option>
     -->
              </select>
            </div>
          </div>
          
    
    
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary btn-block">Continue</button>
      </div>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-danger" style="align-self: center" href="{% url 'delivery-list' %}?id=1">Cancel</a>
    </div>
    </form>

</main>

{% endblock %}