{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Goods Detail</h1>
  </div>

  <form>
    <fieldset disabled>
      <h3>Goods Detail</h3>

      <div class="form-group row">
        <label for="input-id" class="col-sm-2 col-form-label">ID Number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-id" placeholder="ID Number" name="id" value="{{ detail.0.0 }}">
        </div>
      </div>

      <div class="form-group row">
        <label for="input-name" class="col-sm-2 col-form-label">Item Name</label>
        <div class="col-sm-10">
          <select class="custom-select" id="input-name" name="name">
            <option selected value="1">{{ detail.0.1 }}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="input-color" class="col-sm-2 col-form-label">Color</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-color" placeholder="Color" name="color" value="{{ detail.0.2 }}">
        </div>
      </div>

      <div class="form-group row">
        <label for="input-photo" class="col-sm-2 col-form-label">Photo URL</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-photo" placeholder="URL" name="photo"
            value="{{ detail.0.3 }}">
        </div>
      </div>

      <div class="form-group row">
        <label for="input-condition" class="col-sm-2 col-form-label">Condition</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-condition" placeholder="Condition" name="condition"
            value="{{ detail.0.4 }}">
        </div>
      </div>

      <div class="form-group row">
        <label for="input-usage" class="col-sm-2 col-form-label">Usage Length</label>
        <div class="input-group col-sm-10">
          <input type="number" class="form-control" id="input-usage" placeholder="Usage in months" name="usage"
            value="{{ detail.0.5 }}">
          <div class="input-group-append">
            <label class="input-group-text">months</label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="input-owner" class="col-sm-2 col-form-label">Owner</label>
        <div class="col-sm-10">
          <select class="custom-select" id="input-owner" name="owner">
            <option selected value="5">{{ detail.0.6 }}</option>
          </select>
        </div>
      </div>

      <h3>Goods Info</h3>
      {% for price in pricing %}
      <div class="form-group row">
        <label for="input-owner" class="col-sm-2 col-form-label">{{ price.0 }}</label>
        <div class="col-sm-10">
          <div class="form-row">
            <div class="col-sm-3 input-group">
              <input type="number" class="form-control" placeholder="Royalty Percentage" name="percentage[]" value="{{ price.1 }}">
              <div class="input-group-append">
                <label class="input-group-text">%</label>
              </div>
            </div>
            <div class="col input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">Rp.</label>
              </div>
              <input type="number" class="form-control" placeholder="Rent Price" name="price[]" value="{{ price.2 }}">
              <div class="input-group-append">
                <label class="input-group-text"> /week</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </fieldset>
  </form>

  <h3>Reviews</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Reviews</th>
      </tr>
    </thead>
    <tbody>
      {% for r in reviews %}
      <tr>
        <th scope="row">{{ r.0 }}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a class="btn btn-success btn-block mt-3 mb-5" href="#">Order</a>

</main>

{% endblock %}
