{% extends "_base.html" %}
{% load static %}

{% block content %}

    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Goods</h1>
        </div>
        <div>
            <form class="mb-3" method="GET" action="#">
                <div class="form-row align-items-center justify-content-end">
                    <div class="col-sm-3 my-1">
                        <select class="custom-select" id="sort-field" name="sort">
                            <option {% if sort == 'goods_id' %}selected{% endif %} disabled value="">Sort by</option>
                            <option {% if sort == 'item_name' %}selected{% endif %} value="item_name">Name</option>
                            <option {% if sort == 'category_name' %}selected{% endif %} value="category_name">Category
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-3 my-1">
                        <select class="custom-select" id="filter-field" name="filter">
                            <option selected value="">Filter by</option>
                            {% for c in categories %}
                                <option {% if filter == c.0 %}selected{% endif %} value="{{ c.0 }}">{{ c.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Color</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for g in goods %}
                    <tr>
                        <th scope="row">{{ g.0 }}</th>
                        <td>{{ g.1 }}</td>
                        <td>{{ g.2 }}</td>
                        <td>{{ g.3 }}</td>
                        <td>
                            <a class="btn btn-outline-success" href="{% url 'goods-detail' %}?id={{ g.0 }}">Detail</a>
                            {% if admin %}
                                <a class="btn btn-outline-primary"
                                   href="{% url 'goods-update' %}?id={{ g.0 }}">Update</a>
                                <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                        data-target="#delete-prompt"
                                        data-id="{{ g.0 }}" data-name="{{ g.1 }}"
                                        data-url="{% url 'goods-delete' %}?id=">Delete
                                </button>

                            {% else %}
                                <a class="btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="checkbox" checked autocomple te="off"> Order
                                    </label>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if not goods %}
                <div class="text-center"><i>Goods unavailable</i></div>{% endif %}
            <nav>
                <ul class="pagination justify-content-center mt-3" id="page-field">
                    {% for p in pages %}
                        <li class="page-item">
                            <button class="page-link {% if page == p %}text-white bg-info{% else %}text-info{% endif %}">{{ p }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </main>

{% endblock %}