{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="index-box">
    <h1 class="display-1 text-center">ToysRent</h1>
    <p class="lead text-center">We also rent some toys!</p>
    <div class="text-center">
      <a class="btn btn-lg btn-outline-warning mt-5" href="{% url 'login' %}" role="button">Rent Now!</a>
    </div>
  </div>
</main>

{% endblock %}