{% extends "_base.html" %}
{% load static %}

{% block content %}

    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Items</h1>
        </div>
        <div>
            <form class="mb-3" method="GET" action="#">
                {#                <div class="form-row align-items-center justify-content-end">#}
                {#                    <div class="col-sm-3 my-1">#}
                {#                        <select class="custom-select" id="sort-field" name="sort">#}
                {#                            <option selected disabled value="">Sort By</option>#}
                {#                            <option value="name">Name</option>#}
                {#                            <option value="category">Category</option>#}
                {#                        </select>#}
                {#                    </div>#}
                {#                    <div class="col-sm-3 my-1">#}
                {#                        <select class="custom-select" id="filter-field" name="filter">#}
                {#                            <option selected disabled value="">Filter By</option>#}
                {#                            <option value="math">Math</option>#}
                {#                            <option value="art">Art</option>#}
                {#                        </select>#}
                {#                    </div>#}
                {#                    <div class="col-auto my-1">#}
                {#                        <button type="submit" class="btn btn-outline-info">Apply</button>#}
                {#                    </div>#}
                {#                </div>#}
                <div class="form-row align-items-center justify-content-end">
                    <div class="col-sm-3 my-1">
                        <select class="custom-select" id="sort-field" name="sort">
                            <option {% if sort == 'name' %}selected{% endif %} disabled value="">Sort by</option>
                            <option {% if sort == 'name' %}selected{% endif %} value="item_name">Name</option>
                            <option {% if sort == 'category_name' %}selected{% endif %} value="category_name">Category
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-3 my-1">
                        <select class="custom-select" id="filter-field" name="filter">
                            <option selected value="">Filter by</option>
                            {% for c in categories %}
                                <option {% if filter == c.0 %}selected{% endif %} value="{{ c.0 }}">{{ c.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for items in item %}
                    <tr>
                        <th scope="row">{{ items.0 }}</th>
                        <td>{{ items.1 }}</td>
                        <td>
                            {% if admin %}
                                <a class="btn btn-outline-primary"
                                   href="{% url 'item-update' %}?id={{ items.0 }}">Update</a>
                                <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                        data-target="#delete-prompt"
                                        data-id="{{ items.0 }}" data-name="{{ items.1 }}"
                                        data-url="{% url 'item-delete' %}?id=">Delete
                                </button>

                            {% else %}
                                <a class="btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="checkbox" checked autocomplete="off"> Order
                                    </label>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if not item %}
                <div class="text-center"><i>Item unavailable</i></div>{% endif %}
            <nav>
                <ul class="pagination justify-content-center mt-3" id="page-field">
                    {% for p in pages %}
                        <li class="page-item">
                            <button class="page-link {% if page == p %}text-white bg-info{% else %}text-info{% endif %}">{{ p }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </main>

{% endblock %}