{% extends "_base.html" %}
{% load static %}

{% block content %}

    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Update Item</h1>
        </div>

        <form method="POST">
            <h3>Item Detail</h3>

            <div class="form-group row">
                <label for="input-name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-name" placeholder="Name" name="id"
                           value="{{ detail.0.0 }}" readonly>
                </div>
            </div>

            <div class="form-group row">
                <label for="input-description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-description" placeholder="Description"
                           name="description" value="{{ detail.0.1 }}" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="input-age" class="col-sm-2 col-form-label">Minimum Age</label>
                <div class="input-group col-sm-10">
                    <input type="text" class="form-control" id="input-age" placeholder="Minimum Age" name="min"
                           max="100" min="18" value="{{ detail.0.2 }}" required>
                    <div class="input-group-append">
                        <label class="input-group-text">months</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="input-age" class="col-sm-2 col-form-label">Maximum Age</label>
                <div class="input-group col-sm-10">
                    <input type="text" class="form-control" id="input-age" placeholder="Maximum age" name="max"
                           max="100" min="18" value="{{ detail.0.3 }}" required>
                    <div class="input-group-append">
                        <label class="input-group-text">months</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="input-material" class="col-sm-2 col-form-label">Material</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-material" placeholder="material"
                           name="material"
                           value="{{ detail.0.4 }}" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="input-name" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10">
                    <select class="custom-select" id="input-category" name="category" required>
                        <option selected disabled value="">Choose the Category</option>
                        <option value="Mathematics">Mathematics</option>
                        <option value="Art">Art</option>
                        <option value="LOGIC">LOGIC</option>
                        <option value="Soft Motoric">Soft Motoric</option>
                        <option value="Sociology">Sociology</option>
                        <option value="Rough Motoric">Rough Motoric</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                </div>
            </div>
        </form>
    </main>

{% endblock %}