{% extends "_base.html" %}
{% load static %}

{% block content %}

    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Add Membership Level</h1>
        </div>

        <form method="POST">
            <h3>Level Detail</h3>

            <div class="form-group row">
                <label for="input-name" class="col-sm-2 col-form-label">Level Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-name" placeholder="Level Name" name="name"
                           required>
                </div>
            </div>
            <div class="form-group row">
                <label for="input-minimum" class="col-sm-2 col-form-label">Minimum Points</label>
                <div class="input-group col-sm-10">
                    <input type="number" class="form-control" id="input-minimum" placeholder="Minimum Points"
                           name="minimum" required>
                    <div class="input-group-append">
                        <label class="input-group-text">points</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="input-description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-description" placeholder="Description"
                           name="description" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                </div>
            </div>
        </form>

    </main>

{% endblock %}