{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Membership Levels</h1>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Minimum Points</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for level in levels %}
        <tr>
          <th scope="row">{{ level.0 }}</th>
          <td>{{ level.1 }}</td>
          <td>{{ level.3 }}</td>
          <td>{{ level.2 }}</td>
          <td>
            <a class="btn btn-outline-primary" href="{% url 'level-update' %}?name={{ level.1 }}">Update</a>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delete-prompt"
              data-id="{{ level.1 }}" data-name="{{ level.1 }}" data-url="{% url 'level-delete' %}?name=">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if not levels %}<div class="text-center"><i>Levels unavailable</i></div>{% endif %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center mt-3">
          <li class="page-item"><a class="page-link text-info" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link text-white bg-info" href="#">1</a></li>
          <li class="page-item"><a class="page-link text-info" href="#">2</a></li>
          <li class="page-item"><a class="page-link text-info" href="#">3</a></li>
          <li class="page-item"><a class="page-link text-info" href="#">Next</a></li>
      </ul>
  </nav>
  
  </div>
</main>

{% endblock %}