{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Login</h1>
  </div>

  <form method="POST">
    <div class="form-group row">
      <label for="input-id" class="col-sm-2 col-form-label">ID Number</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="input-id" placeholder="ID Number" name="id" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="input-email" placeholder="Email" name="email" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-danger btn-block">Login</button>
      </div>
    </div>
  </form>

</main>

{% endblock %}