{% extends "_base.html" %}
{% load static %}

{% block content %}

    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Make Order</h1>
        </div>

        <form method="POST">
            <h3>Order Form</h3>
            <div class="form-group row">
                <label for="input-name" class="col-sm-2 col-form-label">Order ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-id" placeholder="Order ID" name="id" required>
                </div>
            </div>
            {% if admin %}
                <div class="form-group row">
                    <label for="input-name" class="col-sm-2 col-form-label">Member</label>
                    <div class="col-sm-10">
                        <select class="custom-select" id="member-field" name="member">
                            <option selected value="">Choose member (Admin)</option>
                            {% for a in member %}
                                <option {% if member == a.0 %}selected{% endif %} value="{{ a.0 }}">{{ a.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}
            <div class="form-group row">
                <label for="input-name" class="col-sm-2 col-form-label">Goods</label>
                <div class="col-sm-10">
                    <select class="custom-select" id="goods-field" name="goods">
                        <option selected value="">Select Goods id</option>
                        {% for c in goods %}
                            <option {% if goods == c.0 %}selected{% endif %} value="{{ c.0 }}">{{ c.0 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="input-name" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-price" placeholder="Price" name="price" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="input-color" class="col-sm-2 col-form-label">Start Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="input-color" placeholder="Date" name="start"
                           required>
                </div>
            </div>

            <div class="form-group row">
                <label for="input-age" class="col-sm-2 col-form-label">Duration</label>
                <div class="input-group col-sm-10">
                    <input type="text" class="form-control" id="input-age-max" placeholder="Duration"
                           name="duration"
                           required>
                    <div class="input-group-append">
                        <label class="input-group-text">days</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="input-color" class="col-sm-2 col-form-label">Return Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="input-color" placeholder="Date" name="end"
                           required>
                </div>
            </div>
            <div class="form-group row">
                <label for="input-name" class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-10">
                    <select class="custom-select" id="goods-field" name="goods">
                        <option selected value="">Select Status</option>
                        {% for s in status %}
                            <option {% if status == s.0 %}selected{% endif %} value="{{ s.0 }}">{{ s.0 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                </div>
            </div>
        </form>

    </main>

{% endblock %}