{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Update Order</h1>
  </div>

  <form method="POST">
    <h3>Order Form</h3>

    <div class="form-group row">
      <label for="input-id" class="col-sm-2 col-form-label">ID Number</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-id" placeholder="ID Number" name="id" value="1" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-name" class="col-sm-2 col-form-label">Item Name</label>
      <div class="col-sm-10">
        <select class="custom-select" id="input-name" name="name" required>
          <option disabled value="">Choose an item</option>
          <option selected value="1">Hot Wheels</option>
          <option value="2">LEGO Star Wars Gunship</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-color" class="col-sm-2 col-form-label">Color</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-color" placeholder="Color" name="color" value="Blue" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-photo" class="col-sm-2 col-form-label">Photo URL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-photo" placeholder="URL" name="photo" value="google.com" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-condition" class="col-sm-2 col-form-label">Condition</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-condition" placeholder="Condition" name="condition" value="OK" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-usage" class="col-sm-2 col-form-label">Usage Length</label>
      <div class="input-group col-sm-10">
        <input type="number" class="form-control" id="input-usage" placeholder="Usage in months" name="usage" required>
        <div class="input-group-append">
          <label class="input-group-text">months</label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-owner" class="col-sm-2 col-form-label">Owner</label>
      <div class="col-sm-10">
        <select class="custom-select" id="input-owner" name="owner" required>
          <option selected disabled value="">Choose an owner</option>
          <option value="1">Amal</option>
          <option value="2">Danny</option>
          <option value="3">Naufal</option>
          <option value="4">Prudence</option>
          <option value="5">Wahyu</option>
        </select>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary btn-block">Update</button>
      </div>
    </div>
  </form>


  </div>

  {% endblock %}+