{% extends "_base.html" %}
{% load static %}

{% block content %}

    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Orders</h1>
        </div>
        <div>
            <form class="mb-3" method="GET" action="#">
                <div class="form-row align-items-center justify-content-end">
                    <div class="col-sm-3 my-1">
                        <label> Filter Status By </label>
                        <select class="custom-select" id="filter-field" name="filter">
                            <option selected value="">ALL</option>
                            {% for c in status %}
                                <option {% if filter == c.0 %}selected{% endif %} value="{{ c.0 }}">{{ c.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Goods Registered</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for orders in order %}
                    <tr>
                        <th scope="row">{{ orders.0 }}</th>
                        {#                    <td>#}
                        {#                        <ul>#}
                        {#                            <li>Hot Wheels - 42</li>#}
                        {#                            <li>LEGO Star Wars Gunship - 1</li>#}
                        {#                        </ul>#}
                        {#                    </td>#}
                        <td>{{ orders.1 }}</td>
                        <td>{{ orders.4 }}</td>
                        <td>{{ orders.6 }}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="{% url 'order-update' %}?id=1">Update</a>
                            {% if not admin %}
                                <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                        data-target="#delete-prompt"
                                        data-id="1" data-name="this order" data-url="{% url 'order-delete' %}?id=">
                                    Delete
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if not order %}
                <div class="text-center"><i>Order unavailable</i></div>{% endif %}
            <nav>
                <ul class="pagination justify-content-center mt-3" id="page-field">
                    {% for p in pages %}
                        <li class="page-item">
                            <button class="page-link {% if page == p %}text-white bg-info{% else %}text-info{% endif %}">{{ p }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </main>

{% endblock %}