{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Profile</h1>
  </div>

  <form>
    <div class="form-group row">
      <label for="input-id" class="col-sm-2 col-form-label">ID Number</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="input-id" placeholder="ID Number" name="id" value="{{ info.0.0 }}"
          readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-name" class="col-sm-2 col-form-label">Full Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-name" placeholder="Full Name" name="name" value="{{ info.0.1 }}"
          readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="input-email" placeholder="Email" name="email"
          value="{{ info.0.2 }}" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-birthdate" class="col-sm-2 col-form-label">Birthdate</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="input-birthdate" placeholder="Birthdate" name="birthdate"
          value="{{ info.0.3 }}" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-phone" class="col-sm-2 col-form-label">Phone Number</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="input-phone" placeholder="Phone Number" name="phone"
          value="{{ info.0.4 }}" readonly>
      </div>
    </div>
    <div class="form-group row mb-0">
      <label for="input-address" class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10 multi-address">
        {% for address in addresses %}
        <div class="form-row mb-3">
          <div class="col-sm-3 input-group">
            <input type="text" class="form-control" placeholder="Name" aria-label="Name" value="{{ address.1 }}" name="address_name[]" readonly> <!-- use [] for multi fields -->  
          </div>
          <div class="col-sm-3 input-group">
            <input type="text" class="form-control" placeholder="Road" aria-label="Road" value="{{ address.2 }}" name="address_road[]" readonly> <!-- use [] for multi fields -->  
          </div>
          <div class="col-sm-2 input-group">
            <input type="text" class="form-control" placeholder="Number" aria-label="Number" value="{{ address.3 }}" name="address_number[]" readonly> <!-- use [] for multi fields -->  
          </div>
          <div class="col-sm-2 input-group">
            <input type="text" class="form-control" placeholder="City" aria-label="City" value="{{ address.4 }}" name="address_city[]" readonly> <!-- use [] for multi fields -->  
          </div>
          <div class="col-sm-2 input-group">
            <input type="number" class="form-control" placeholder="Postcode" aria-label="Postcode" value="{{ address.5 }}" name="address_postcode[]" readonly> <!-- use [] for multi fields -->  
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% if not admin %}
    <div class="form-group row">
      <label for="input-points" class="col-sm-2 col-form-label">Collected Points</label>
      <div class="input-group col-sm-10">
        <input type="number" class="form-control" id="input-points" placeholder="Collected Points" name="minimum"
          value="{{ info.0.5 }}" readonly>
        <div class="input-group-append">
          <label class="input-group-text">points</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-level" class="col-sm-2 col-form-label">Membership Level</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-level" placeholder="Membership Level" name="level"
          value="{{ info.0.6 }}" readonly>
      </div>
    </div>
    {% endif %}
  </form>

</main>

{% endblock %}