{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Register Admin</h1>
  </div>

  <form method="POST">
    <div class="form-group row">
      <label for="input-id" class="col-sm-2 col-form-label">ID Number</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="input-id" placeholder="ID Number" name="id" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-name" class="col-sm-2 col-form-label">Full Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-name" placeholder="Full Name" name="name" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="input-email" placeholder="Email" name="email" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-birthdate" class="col-sm-2 col-form-label">Birthdate</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="input-birthdate" placeholder="Birthdate" name="birthdate" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-phone" class="col-sm-2 col-form-label">Phone Number</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="input-phone" placeholder="Phone Number" name="phone" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-danger btn-block">Register as Admin</button>
      </div>
    </div>
  </form>

</main>

{% endblock %}