{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Register Member</h1>
  </div>

  <form method="POST">
    <div class="form-group row">
      <label for="input-id" class="col-sm-2 col-form-label">ID Number</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="input-id" placeholder="ID Number" name="id" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-name" class="col-sm-2 col-form-label">Full Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-name" placeholder="Full Name" name="name" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="input-email" placeholder="Email" name="email" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-birthdate" class="col-sm-2 col-form-label">Birthdate</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="input-birthdate" placeholder="Birthdate" name="birthdate" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-phone" class="col-sm-2 col-form-label">Phone Number</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="input-phone" placeholder="Phone Number" name="phone" required>
      </div>
    </div>
    <div class="form-group row mb-0">
      <label for="input-address" class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10 multi-address mb-3">
        <div class="form-row first-row">
          <div class="col-sm-2 input-group">
            <input type="text" class="form-control" placeholder="Name" aria-label="Name" name="address_name[]" required> <!-- use [] for multi fields -->  
          </div>
          <div class="col-sm-3 input-group">
            <input type="text" class="form-control" placeholder="Road" aria-label="Road" name="address_road[]" required> <!-- use [] for multi fields -->  
          </div>
          <div class="col-sm-2 input-group">
            <input type="text" class="form-control" placeholder="Number" aria-label="Number" name="address_number[]" required> <!-- use [] for multi fields -->  
          </div>
          <div class="col-sm-2 input-group">
            <input type="text" class="form-control" placeholder="City" aria-label="City" name="address_city[]" required> <!-- use [] for multi fields -->  
          </div>
          <div class="col-sm-2 input-group">
            <input type="number" class="form-control" placeholder="Postcode" aria-label="Postcode" name="address_postcode[]" required> <!-- use [] for multi fields -->  
          </div>
          <div class="col-sm-1">
            <button class="btn btn-outline-primary add-address" style="width: 100%">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-danger btn-block">Register as Member</button>
      </div>
    </div>
  </form>

</main>

{% endblock %}