{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Reviews</h1>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Reviewed Item</th>
          <th scope="col">User ID</th>
          <th scope="col">Review</th>
        </tr>
      </thead>
      <tbody>
        {% for r in reviews %}
        <tr>
          <th scope="row">{{ r.0 }}</th>
          <td>{{ r.1 }}</td>
          <td>{{ r.2 }}</td>
          <td>{{ r.3 }}</td>
          <td>{{ r.4 }}</td>
          <td>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delete-prompt"
              data-id="{{ r.0 }}" data-ordNum="{{ r.5 }}" data-url="{% url 'review-delete' %}?id=">Delete</button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center mt-3">
          <li class="page-item"><a class="page-link text-info" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link text-white bg-info" href="#">1</a></li>
          <li class="page-item"><a class="page-link text-info" href="#">2</a></li>
          <li class="page-item"><a class="page-link text-info" href="#">3</a></li>
          <li class="page-item"><a class="page-link text-info" href="#">Next</a></li>
      </ul>
  </nav>
  </div>
</main>

{% endblock %}
