{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Create Review</h1>
  </div>

  <form method="POST">
    <h3>Review Form</h3>

    <div class="form-group row">
      <label for="input-id" class="col-sm-2 col-form-label">Goods ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-id" placeholder="Goods ID Number" name="goodsId" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-id" class="col-sm-2 col-form-label">Receipt ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-id" placeholder="Receipt ID Number" name="receiptId" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-id" class="col-sm-2 col-form-label">Order Number</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-id" placeholder="order Number" name="orderNum" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-color" class="col-sm-2 col-form-label">Review</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-color" placeholder="Review" name="review" required>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-danger" style="align-self: center" href="{% url 'delivery-list' %}?id=1">Cancel</a>
    </div>
    </form>

</main>

{% endblock %}
