{% extends "_base.html" %}
{% load static %}

{% block content %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Update Review</h1>
  </div>

  <form method="POST">
    <h3>Review Form</h3>

    
    <div class="form-group row">
      <label for="input-name" class="col-sm-2 col-form-label">Goods</label>
      <div class="col-sm-10">
        <select class="custom-select" id="input-name" name="name" required>
          <option selected disabled value="">Choose goods</option>
          <option value="1">Hot Wheels</option>
          <option value selected="2">LEGO Star Wars Gunship</option>
        </select>
      </div>
    </div>

    
    <div class="form-group row">
      <label for="input-color" class="col-sm-2 col-form-label">Review</label>
      <div class="col-sm-10">
        <input type="text" value="mantap kinyis-kinyis gujes-gujes !" class="form-control" id="input-color" placeholder="Review" name="color" required>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-danger" style="align-self: center" href="{% url 'delivery-list' %}?id=1">Cancel</a>
    </div>
    </form>

</main>

{% endblock %}